body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
 
    margin: 0%;
    background-color: #EDA7FF;
}


header{
    align-self: left;
    background-color:#746973;
    width: 20%;
    text-align: center;
    padding: 1%;
    font-size: 150%;
    
}



#profileImage{
    width: 150px;
    height: 180px;
    border-radius: 80px;
}

#pozaContent{
    width: 200px;
}

#motto{
    align-self: center;
    padding: 0 20px 0 20px;
    font-size: 30px;
}

#content {
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
