body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
 
    margin: 0%;
    background-color: #EDA7FF;
}


header{
    background-color:#746973;
    text-align: center;
    padding: 1%;
    font-size: 150%; 
    position: fixed;
    height: 100%;
    
}



#profileImage{
    width: 150px;
    height: 180px;
    border-radius: 80px;
}

#pozaContent{
    width: 200px;
}

#motto{
    align-self: center;
    padding: 0 20px 0 20px;
    font-size: 30px;
    width: 50%;

}

#content {
    margin-left:10% ;
    align-self: center;
    text-align: center;
    display: flex;
}


#info{
    padding: 8% 6% 0 0;
}