body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
     
        margin: 0%;
        background-image: url("../images/background.jpeg");
        /* background-color: #242423;
} */
}

#container{
    background-color: rgb(255, 237, 211);
    position: fixed;
    width: 40%;
    height: 50%;
    top: 25%;
    right: 30%;
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
    font-size: 150%;
    line-height: 210%;
    border-radius: 25%;
    box-shadow: 10px 10px 10px rgb(201, 184, 162);
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: rgb(206, 22, 22);
}

.fa-envelope{
    color:white;
}

.fa-linkedin{
    color:rgb(0, 151, 151)
}

i{
    font-size: 140%;
}



/* HEADER */
header{
    background-color:#F5F5F5;
    text-align: center;
    padding: 1%;
    font-size: 150%; 
    position: absolute;
    height: 100%;
    color: rgb(111,111,110); 
}

#name{
    margin-top: 20%;
    margin-bottom: 20%;
    color: #9c04be;
    box-sizing: content-box;
    border-radius: 50%;
    background-color: rgb(165, 162, 162);
    padding: 5% 10%;
}

#name:hover{
    animation: 2s shake infinite alternate;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

#pages{
    color: 00FFF0;
    line-height: 250%;
 
}

#home:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#about:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#skills:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#education:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#contact:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }


#profileImage{
    width: 150px;
    height: 180px;
    border-radius: 80px;
}

/* HEADER */

@media only screen and (max-width:1000px){

    #container{
      width: 60%;
      right: 10%;
      font-size: 120%;
      padding-top: 10%;
    }
}


@media only screen and (max-width:600px){

    #container{
      width: 50%;
      height: 30%;
      right: 15%;
      font-size: 80%;
      padding-top: 8%;
    }

    header{
        font-size: 100%; 
       width: 20%;
    }

#profileImage{
    width: 80px;
    height: 110px;
}


}


@media only screen and (max-width:400px){

    #container{
      width: 60%;
      height: 30%;
      right: 10%;
      font-size: 80%;
      padding-top: 8%;
    }

    header{
        font-size: 90%; 
       width: 20%;
    }

#profileImage{
    width: 60px;
    height: 90px;
}


}