body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
 
    margin: 0%;
    background-color: #EDA7FF;
}


header{
    background-color:#746973;
    text-align: center;
    padding: 1%;
    font-size: 150%; 
    position: fixed;
    height: 100%;
    
}

#content{
    padding-left: 12%;
}



#profileImage{
    width: 150px;
    height: 180px;
    border-radius: 80px;
}


ul{
    list-style: none;
}

li{
    font-size: 20px;
    flex-wrap: wrap;
}

.fa-guitar{
    color: yellow;
}

.fa-book-reader{
    color: red;
}

.fa-cookie-bite{
    color: brown;
}

#second{
    color: purple;
}
