body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
 
    margin: 0%;
    background-color: #242423;
    color: rgb(111,111,110);
}

/* HEADER */
header{
    background-color:#F5F5F5;
    text-align: center;
    padding: 1%;
    font-size: 150%; 
    position:fixed;
    height: 100%;
}

#name{
    margin-top: 20%;
    margin-bottom: 20%;
    color: #9c04be;
    box-sizing: content-box;
    border-radius: 50%;
    background-color: rgb(165, 162, 162);
    padding: 5% 10%;
}

#name:hover{
    animation: 2s shake infinite alternate;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

#pages{
    color: 00FFF0;
    line-height: 250%;
}

#home:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#about:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#skills:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#education:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }

#contact:hover {
    background-color: black;
    color: #EDA7FF;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 5% 12%;
  }


#profileImage{
    width: 150px;
    height: 180px;
    border-radius: 80px;
}

/* HEADER */

#content{
    padding: 0 13% 0 18%;
    color: #F5F5F5;
    font-size: 18px;
    line-height:160%;

}


ul{
    list-style: none;
   
}

li{
    font-size: 20px;
    flex-wrap: wrap;
 
}

.fa-guitar{
    color: rgb(245, 94, 194);
}

.fa-book-reader{
    color: #80e5f7;
}

.fa-cookie-bite{
    color: rgb(104, 43, 43);
}

#second{
    color: purple;
}

i{
    font-size: 130%;
}


i:hover{
    animation: 2s shake infinite alternate;
}

li b{
    color: white;
  
}

.hobbyTitle{
    font-size:80%;
    background-color: black;
    box-sizing: content-box;
    padding: 1%;
    width: 18%;
    border-radius: 48%;
}

#cooking{
    width:14%;
    font-size: 70%;
}

img{
    width: 15%;
    height: 50%;
}


@media only screen and (max-width:1240px){

    header{
        font-size: 120%; 
        width: 15%;
    }

    #profileImage{
        width: 100px;
        height: 130px;
    }
    #content{
        padding: 0 13% 0 25%;
        font-size: 90%;   
    }
    
    
    .hobbyTitle{
       font-size:60%;
       width: 20%;
       border-radius: 48%;
    }

     #cooking{
          width:20%;
         font-size: 60%;
       }

       p{
           font-size: 80%;
       }
}


@media only screen and (max-width:650px){

    header{
        font-size: 100%; 
        width: 18%;
    }
 
    #profileImage{
        width: 70px;
        height: 90px;
    }

    #content{
        padding: 0 13% 0 25%;
        font-size: 90%;   
    }
    
    .hobbyTitle{
       font-size:60%;
       width: 50%;
       border-radius: 48%;
    }

     #cooking{
        width: 35%;
       }

     img{
         width: 40%;
          height: 40%;
         }
}


@media only screen and (max-width:400px){

    header{
        font-size:60%; 
        width: 15%
    }
 
    #profileImage{
        width: 60px;
        height: 80px;
    }

    #content{
        padding: 5% 13% 0 20%;
        font-size: 40%;   
    }

    p{
        font-size: 40%;
    }
    
    .hobbyTitle{
       font-size:60%;
       width: 50%;
       border-radius: 48%;
    }

     #cooking{
        width: 35%;
       }

     img{
         width: 30%;
          height: 30%;
         }
}
